div, footer {
  padding:20px;
}
body {
  background-color: powderblue;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  display: flex;
  flex-direction: column;
  color: black;

}



a {
  text-decoration: none;
}

#login {width:250px; margin:200px auto;}
label {width:200px; display: block;}
label > input {float:right; padding:0px;}
input[type="submit"] { float:right }

#header {
  background-color: powderblue;
  color: white;
}
#flex-container {
  display: flex;
  flex-direction: row;
  padding: 0px;
}
nav {
  padding: 10px;
}
#content {
  background-color: green;

}
footer {
  background-color: black;
  color: white;
}
#logo {
  float: left;
  margin: -20px 20px -20px -20px;
  height:70px;
  width:70px;
  background-size: contain;
  background-position: 50% 0;
  background-repeat: no-repeat;
 
}
#user_details {
  float: right;
  padding: 0px;
  text-align: right;
}
